.list-view{
    -fx-background-color: transparent;
}

.list-view .list-cell{
    -fx-background-color: transparent;
}
/*    -fx-cell-size: 70px;
*/
.list-view .list-cell:selected{
    -fx-border-color: none;
    -fx-background-color: gray;
    -fx-border-width: 0.5px;
}

.list-view .list-cell:selected .label{
    -fx-text-fill: white;
}

.list-view .list-cell:selected .text-area{
    -fx-text-fill: white;
}

.list-view .list-cell:selected .text-area .content{
    -fx-background-color: gray;
}
